<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ghorabaa.cultureguide">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignIn.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            android:label="@string/title_activity_addevent"
            android:theme="@style/AppTheme.NoActionBar"
        </activity>
        <activity android:name=".SignUp.SignUpActivity" />
        <activity
            android:name=".OrganizationEventPage.CreateEventActivity"
            android:label="@string/title_activity_addevent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OrganizationEventPage.EventMainActivity"
            android:label="@string/title_activity_event_main_activty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".OrganizationEventPage.RemoveEventActivity">
            android:label="@string/title_activity_remove_event"
            android:theme="@style/AppTheme.NoActionBar"
        </activity>
        <activity
            android:name=".OrganizationEventPage.UpdateEventActivity"
            android:label="@string/title_activity_update_event_activty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".EditProfile.EditOrgActivity"
            android:label="@string/title_activity_edit_profile_organization">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".EditProfile.EditUserActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".UserHomepage.Main3Activity" />
        <activity
            android:name=".UserHomepage.UserHomepage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UserEventPage.EventPage.UserEventPage" />
        <activity android:name=".AdminHomepage.AdminHomepageActivity" />
        <activity android:name=".AdminViewCategory.AdminViewCategoryActivity" />
        <activity android:name=".AdminViewUser.AdminViewUserActivity" />
        <activity android:name=".AdminViewAdmins.AdminViewAdminActivity" />
        <activity android:name=".AdminViewOrganization.AdminViewOrganizationActivity" />
        <activity android:name=".AdminViewEvent.AdminViewEventActivity" />
        <activity android:name=".UserEventPage.InviteFriend.InviteFriends" />
        <activity android:name=".UserSidebar.Friends.FriendsActivity" />
        <activity android:name=".UserSidebar.Favorites.FavoritesActivity" />
        <activity android:name=".UserSidebar.Invitations.InvitationsActivity"></activity>
    </application>

</manifest>